@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.green_gradient {
  @apply bg-gradient-to-r m-5 text-4xl from-green-900 to-green-300 bg-clip-text text-transparent;
}

.head_text {
  @apply mt-5 text-4xl  text-black leading-[1.15] sm:text-4xl;
}

.sidebar_items { 
  @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto;
}


.grid-cols-custom {
  display: grid;
  grid-template-columns:  5vw 25vw 70vw;
  gap: 0
}

.move{
  margin-right: 5vw;
}
.sidebar{
  width: 5vw;
}

.hero{
  background-image: url("../assets/hero2.jpg");
}